<div class="ui cards">
    {% for voiture in voitures %}
        <div class="ui card">
            <div class="content">
                <div class="header">
                    {{ voiture.marque }}
                </div>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <div><img src="{{asset("images/voiture.jpg")}}" alt=""></div>
                                <p>{{ voiture.prix}} €</p>
                                <a class="ui button" href="{{ path('voiture', {numVoi: voiture.id}) }}">Voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>